<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" routerLink="/">Tricorne</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" (click)="navigation.setSidebarState()" data-toggle="collapse"aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap" *ngIf="auth.getSession() != null">
            <a class="nav-link" (click)="auth.logout()">Sign out</a>
        </li>
    </ul>
</nav>
