<main class="form-container text-center">
    <form class="form-signin card" [formGroup]="form">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" formControlName="user"
               required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"
               required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" formControlName="remember"> Remember me
            </label>
        </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" (click)="login()" value="Sign in">
    </form>
</main>

<ng-template #loginError>
    Error while login. Username or password incorrect.
</ng-template>
