<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar"
     [class.collapse]="navigation.sidebarCollapse | async">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">
                    <i data-feather="shopping-cart"></i>
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/customers">
                    <i data-feather="users"></i>
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i data-feather="settings"></i>
                    Settings
                </a>
                <ul>
                    <li class="nav-item nav-sub-item">
                        <a class="nav-link" routerLink="/accounts">
                            <i data-feather="users"></i>
                            Accounts
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
